#contact-me {
  background: linear-gradient(#202A66 60%, #fff 40%);
}

.submit-btn {
    background-color: #1d64af;
    color: white;
    border: none;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #023b77;
}

.card{
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.02);
}
.card-body label {
    color: #202A66;
    margin-bottom: 5px;
}

.card-body .row label,
.card-body .email-context label{
  color: white;
}

#contact-me .card-title{
  padding: 10px;
}

  .row .col-md-6 .contact-me-text{
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 1;
  }

  .row .col-md-6 .contact-me-text h1{
    font-size: 3.6rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.35rem;
  }

  .row .col-md-6 .contact-me-img{
    width: 300px;          /* besar untuk div */
    height: 300px;         /* square */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(50px); /* moves image down initially */
    transition: opacity 2s ease-out, transform 2s ease-out;
  }

  .row .col-md-6 .contact-me-img.show{
    opacity: 1;
    transform: translateX(0);
  }

  .row .col-md-6 .contact-me-img img{
    width: 300px;          /* image kecil */
    height: auto;
    object-fit: contain;
  }


@media (max-width: 768px) {

  #contact-me {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #contact-me .card {
    width: 100% !important;
  }

  #contact-me .card-body {
    padding: 1rem;
  }

  #contact-me .row {
    flex-direction: column;
  }
  .row .col-md-6 .contact-me-text h1{
    font-size: 1.4rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.35rem;
  }

    .row .col-md-6 .contact-me-text p{
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
  }

  .row .col-md-6 .contact-me-img{
    width: 300px;          /* besar untuk div */
    height: 300px;         /* square */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(50px); /* moves image down initially */
    transition: opacity 2s ease-out, transform 2s ease-out;
  }

  .row .col-md-6 .contact-me-img.show{
    opacity: 1;
    transform: translateX(0);
  }

  .row .col-md-6 .contact-me-img img{
    width: 300px;          /* image kecil */
    height: auto;
    object-fit: contain;
  }

  #contact-me .email-context{
    margin-bottom: 1rem;
  }

  #contact-me .col-md-4 {
    margin-left: 10px;
  }

  #contact-me label {
    font-size: 0.8rem;
  }

  #contact-me h4{
    font-size: 1rem;
  }

  #contact-me .card-title {
    padding: 4px;
  }

  #contact-me input,
  #contact-me textarea {
    font-size: 0.8rem;
  }

  #contact-me .whatsapp-text{
    font-size: 0.8rem;
  }

  #contact-me .submit-btn {
    font-size: 0.75rem;
    width: 100%;
  }

  .card-body .row label,
  .card-body .email-context label{
    color: white;
  }

}
