.submit-btn {
    background-color: #1d64af;
    color: white;
    border: none;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #023b77;
}

.card{
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.02);
}
.card-body label {
    color: #202A66;
    margin-bottom: 5px;
}

@media (max-width: 768px) {

  #contact-me {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #contact-me .card {
    width: 100% !important;
  }

  #contact-me .card-body {
    padding: 1rem;
  }

  #contact-me .row {
    flex-direction: column;
  }

  #contact-me .col-md-6,
  #contact-me .col-md-4,
  #contact-me .col-md-8 {
    width: 100%;
  }

  #contact-me .col-md-4 {
    margin-left: 10px;
  }

  #contact-me label {
    font-size: 0.8rem;
  }

  #contact-me input,
  #contact-me textarea {
    font-size: 0.8rem;
  }

  #contact-me .submit-btn {
    width: 100%;
  }

}
