/* HERO SECTION */
.hero {
  background: linear-gradient(135deg, #128397 0%, #2325a1 20%, #030553 60%);
  color: white;
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 20px 0;
}

/* HERO CONTENT WRAPPER */
.hero-content {
  max-width: 1000px;
  margin: 0 auto;
}

/* HEADINGS */
.hero-title {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 500;
  cursor: default;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor:default;
}

.hero-name:hover{
  font-size: 3.5rem;

}

h1 {
  margin-bottom: 0.5rem;
}

p, .hero-desc {
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 600px;
  cursor: default;
}

/* CTA BUTTON */
.cta-button {
  background-color: #1484ec;
  width: 150px;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #3134eb;
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* HERO IMAGE */
.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  animation: fadeInUp 2.5s ease-out forwards;
}

/* RESPONSIVE STYLING */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 40px 20px;
    text-align: center;
  }

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-name {
    font-size: 2.5rem;
  }

  .hero-desc {
    font-size: 0.95rem;
    margin: 20px auto;
  }

  .cta-button {
    width: 100%;
    max-width: 250px;
  }

  .hero-img img {
    max-width: 300px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }
}
