.navbar-body {
    background-color: #191bb4;
    height: 10vh;
    width: auto;
    color: white;
}

.logo-text {
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 2px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}