/* .portfolio {
  padding: 60px 20px;
  background-color: #3549fa;
  color: white;
}

.portfolio h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.portfolio-button {

} */

.btn-portfolio {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #494cf5;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-portfolio:hover {
    background-color: #484ccc;
    color: white;
    text-decoration: none;
}

/* .img-portfolio img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    background: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
} */

.img-portfolio {
  width: 100%;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    background: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* .btn-portfolio {
  padding: 10px 24px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-portfolio:hover {
  background-color: #333;
  transform: translateY(-2px);
} */
